.header {
  width: 100%;
  height: 20%;
  margin: 1rem 2rem;
  display: flex;
}

.header span a {
  text-decoration: none;
  color: dodgerblue;
}

.logo {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  color: #bfbfbf;
}

.navigation {
  margin: 0 5rem;
  color: dodgerblue;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.navigation a:nth-child(1n) {
  padding: 0rem 5rem;
}

.searchBar {
  margin: 0 6rem;
  letter-spacing: 0.2px;
  float: right;
  color: dodgerblue;
}
